<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Only For You</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/headerst.css}">
</head>
<body>
    <header class="header">
        <h1>MOFY</h1>
        <br>
        <hr>
    </header>
    <main>
        <section class="test3">
            <div class="title">Music Only For You</div>
            <br>
            <div class="container">
                <div class="arrow left">&#9664;</div>
                <div class="boxes">
                    <div class="box">1</div>
                    <div class="box">2</div>
                    <div class="box">3</div>
                    <div class="box">4</div>
                    <div class="box">5</div>
                    <div class="box">6</div>
                </div>
                <div class="arrow right">&#9654;</div>
            </div>
            
            <div class="container1">
                <h1>음악 순위</h1>
                <div class="menu">
                    <button>실시간 TOP 100</button>
                    <button>장르별</button>
                    <button>최신음악</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>순위</th>
                            <th>곡 정보</th>
                            <th>담기</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 데이터가 들어갈 부분 -->
                    </tbody>
                </table>
            </div>
        </section>

        <section class="test2">
            <div>
                <div class="sign">
                    <form th:action="@{/login}" method="post">
                        <div class="IP">
                            <br> &nbsp;
                            <label>ID <input type="text" id="id" name="id" size="25"></label> <br><br>
                            <label>PW <input type="password" id="password" name="password" size="25"></label>
                        </div>

                        <div class="login">
                            <input type="submit" value="로그인">
                            <input type="button" value="회원가입">
                        </div>
                        <h1 class="sign3">계정이 기억이 안나시나요?</h1>
                        <p class="sign2">아이디 찾기</p>
                        <p class="sign2">비밀번호 찾기</p>
                    </form>
                    
                    <!-- 로그인 메시지 표시 -->
                    <div th:if="${message != null}">
                        <p style="color:red;" th:text="${message}"></p>
                    </div>
                </div>

                <div class="playlist">
                    <div class="box1">
                        <div class="box2">
                            <img src="앨범.jpg" alt="앨범사진" width="250px" height="200px">
                        </div>
                        
                        <div class="plbtn1">
                            <input type="button" value="이전">
                            <input type="button" value="다음">
                        </div>
                    </div>
                </div>

                <div class="myplaylist">
                    <div class="mypl1">
                        나의 PlayList
                    </div>
                    <div class="myplli1">
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
